html {
	background-color:rgb(111,111,111);
	width:100%;
	font-size:14px
	
}

h1 { 
	font-size:3rem;
	text-align:center;

}

h2 { 
	font-size:2rem;
}

h3 { 
	font-size:1.5rem;
}

div.entete {
	margin:0px 20px;
	text-align:center;
	
}

div.aboutme {
	margin:0px 20px;
}

#page { 
	width:80%;
	background-color:rgb(211,211,211);
	margin:auto;
	border: 2px solid black;
	}

tbody { 
	text-align:center;
}

footer { 
	text-align:center;
	margin:20px 530px 20px;
	border: 5px solid blue;
	
}

