html {
	background-color: #121212;
	width:100%;
	font-size:14px;
	color: #e0e0e0;
	
}

h1 { 
	font-size:3rem;
	text-align:center;
	color: #ffffff;

}

h2 { 
	font-size:2rem;
	color: #cccccc;
}

h3 { 
	font-size:1.5rem;
	color: #aaaaaa;
}

div.entete {
	margin:0px 20px;
	text-align:center;
	
}

div.aboutme {
	margin:0px 20px;
}

#page { 
	width:80%;
	background-color: #1e1e1e;
	margin:auto;
	border: 2px solid #333;
	}

tbody { 
	text-align:center;
}

footer { 
	text-align:center;
	margin:20px 530px 20px;
	border: 2px solid #444;
	background-color: #181818;
	color: #bbbbbb;
	
}

p, li, td {
	color: #e0e0e0;
}


